<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <a href="{% url 'mainPage:home' %}"><div class="logo">Learnify</div></a>
        <p>Раскройте свой потенциал с нашими онлайн-курсами. Учитесь у лучших экспертов в своей области.</p>
      </div>
      <div class="footer-section">
        <h3>Разделы</h3>
        <ul>
          <li>
            <a href="{% url 'mainPage:courses' %}">Курсы</a>
          </li>
          <li>
            <a href="#">О нас</a>
          </li>
          <li>
            <a href="#">Преподаватели</a>
          </li>
          <li>
            <a href="#">Блог</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Контакты</h3>
        <p>Email: info@learnify.com</p>
        <p>Телефон: +7 (999) 123-45-67</p>
        <p>Адрес: г. Москва, ул. Примерная, д. 1</p>
      </div>
      <div class="footer-section">
        <h3>Мы в соцсетях</h3>
        <div class="social-icons">
          <a href="#" class="social-icon">FB</a>
          <a href="#" class="social-icon">VK</a>
          <a href="#" class="social-icon">IG</a>
          <a href="#" class="social-icon">TG</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Learnify. Все права защищены.</p>
    </div>
  </div>
</footer>
